<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">{{ ticket?.title }}</h2>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-6 mb-3">
          <div>
            <strong>Type:</strong>
            <span id="ticket-type"> {{ ticket?.type }}</span>
          </div>
        </div>
        <div class="row mb-3">
        <div class="ticket-flex" *ngIf="this.authService.getDecodedToken().type === 'admin' && ticket.status !== 'Concluído'">
        <form [formGroup]="ticketForm">
          <strong class="mr-2">Status:</strong>
          <p-dropdown
            [options]="status"
            optionLabel="status"
            formControlName="status"
            [placeholder]="ticket?.status">
          </p-dropdown>
        </form>
        <button pButton class="w-10rem p-button-success button" label="Change status" (click)="changeStatus()"></button>
        </div>
        <div class="row mb-3" *ngIf="this.authService.getDecodedToken().type !== 'admin' || ticket.status === 'Concluído'">
          <strong class="mr-2">Status:</strong>
          <span id="ticket-status">{{ticket?.status}}</span>
        </div>
      </div>
        <div class="col-md-6">
          <strong>ID:</strong>
          <span id="ticket-id"> {{ ticketId }}</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <strong>Body:</strong>
          <div id="ticket-body" class="limited-text" [innerHTML]="ticket?.body"></div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <strong>Email:</strong>
          <span id="ticket-email"> {{ ticket.email }}</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <strong>Date of Creation:</strong>
          <span id="ticket-date"> {{ ticket?.date | date: 'YYYY/MM/dd HH:mm' }}</span>
        </div>
      </div>
      <div class="row">
      <div class="col-md-6">
        <strong>SubType:</strong>
        <span id="ticket-subtype"> {{ ticket?.subType }}</span>
      </div>
      <div class="mt-3">
        <div class="col-md-6" *ngIf="this.authService.getDecodedToken().type === 'admin' && ticket.status !== 'Concluído' || ticket.status === 'Devolvido ao criador'">
          <form [formGroup]="createCommentForm" class="comment-form">
            <strong htmlFor="comment">Comments:</strong>
            <p-editor formControlName="comment" [style]="{ height: '120px' }">
              <ng-template pTemplate="header">
                <span class="ql-formats">
                  <button type="button" class="ql-image" aria-label="Underline"></button>
                </span>
              </ng-template>
            </p-editor>
            <p-messages
          [(value)]="message"
          *ngIf="message && message.length > 0"
          [enableService]="false"
          [closable]="true"
          class="mb-3"
        ></p-messages>
            <button pButton class="w-10rem p-button-success button" label="Submeter" *ngIf="this.authService.getDecodedToken().type === 'user'" (click)="createCommentUser()"></button>
            <button pButton class="w-10rem p-button-success button" label="Submeter" *ngIf="this.authService.getDecodedToken().type === 'admin'" (click)="createComment()"></button>
          </form>
        </div>
      </div>      
  </div>
</div>

<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Ticket history</h3>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div [innerHTML]="ticket?.logs"></div>
      </div>
    </div>
  </div>
</div>
