<p-table [value]="tickets" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Type</th>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
      <th>Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ticket>
    <tr>
      <td><img src='assets/images/{{ ticket.type }}Icon.png' class="w-2rem"></td>
      <td>{{ ticket.id }}</td>
      <td>{{ ticket.title }}</td>
      <td>{{ ticket.body }}</td>
      <td>{{ ticket.status }}</td>
    </tr>
  </ng-template>
</p-table>
