<button 
pButton 
pRipple 
label="Adicionar ticket"
routerLink="/add-user"
class="p-button-success mb-1">
</button>
<div class="col-12">
  <p-table [value]="tickets" scrollDirection="both" [scrollable]="true" scrollHeight="100wh" styleClass="mt-3" responsiveLayout="scroll">
    <ng-template pTemplate="header">
    <tr>
      <th style="width:200px">Type</th>
      <th style="width:200px">ID</th>
      <th style="width:200px">Title</th>
      <th style="width:200px">Body</th>
      <th style="width:200px">Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ticket>
    <tr>
      <td style="width:200px"><img src='assets/images/{{ ticket.type }}Icon.png' class="w-2rem"></td>
      <td style="width:200px">{{ ticket.id }}</td>
      <td style="width:200px">{{ ticket.title }}</td>
      <td style="width:200px">{{ ticket.body }}</td>
      <td style="width:200px">{{ ticket.status }}</td>
    </tr>
  </ng-template>
</p-table>
</div>